<div class="container">
  <form #emailForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label">Enter email</label>
      <input
        class="input"
        [ngClass]="{
          'is-danger':
            emailControl.invalid && emailControl.touched && emailControl.dirty
        }"
        type="email"
        pattern=".+@.+\..+"
        required
        name="email"
        [(ngModel)]="email"
        #emailControl="ngModel"
      />
      <ng-container
        *ngIf="
          emailControl.invalid && emailControl.touched && emailControl.dirty
        "
      >
        <div class="help is-danger" *ngIf="emailControl.errors.required">
          You must enter an email.
        </div>
        <div class="help is-danger" *ngIf="emailControl.errors.pattern">
          Please enter a valid email.
        </div>
      </ng-container>
    </div>

    <button
      class="button is-primary"
      type="submit"
      [disabled]="emailForm.invalid"
    >
      Submit
    </button>
  </form>

  <hr />
  <div>I form valid: {{ emailForm.valid }}</div>
  <div>Form values: {{ emailForm.value | json }}</div>
</div>
